@font-face {
    font-family: 'f1';
    src: url('/fonts/f1.eot');
    src: url('/fonts/f1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/f1.woff') format('woff'),
         url('/fonts/f1.ttf') format('truetype'),
         url('/fonts/f1.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}
    
@font-face {
    font-family: 'f2';
    src: url('/fonts/f2.eot');
    src: url('/fonts/f2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/f2.woff') format('woff'),
         url('/fonts/f2.ttf') format('truetype'),
         url('/fonts/f2.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'f3';
    src: url('/fonts/f3.eot');
    src: url('/fonts/f3.eot?#iefix') format('embedded-opentype'),
         url('/fonts/f3.woff') format('woff'),
         url('/fonts/f3.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'f4';
    src: url('/fonts/f4.eot');
    src: url('/fonts/f4.eot?#iefix') format('embedded-opentype'),
         url('/fonts/f4.woff') format('woff'),
         url('/fonts/f4.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;

}